<a href="https://colab.research.google.com/github/yuyahnd/colab/blob/main/notebook/pandas/001_pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

df = pd.DataFrame(
    data = {
        'col_1': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
        'col_2': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        'col_3': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'],
    }
)

DataFrameを表示する

In [6]:
df

   col_1  col_2 col_3
0      1     10     a
1      2     20     b
2      3     30     c
3      4     40     d
4      5     50     e
5      6     60     f
6      7     70     g
7      8     80     h
8      9     90     i
9     10    100     j

DataFrameの先頭を表示する

In [7]:
df.head()

   col_1  col_2 col_3
0      1     10     a
1      2     20     b
2      3     30     c
3      4     40     d
4      5     50     e

データ件数取得

In [8]:
len(df)

10

項目名取得

In [9]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

データ型取得

In [10]:
df.dtypes

col_1     int64
col_2     int64
col_3    object
dtype: object

DataFrameの情報取得

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   10 non-null     int64
 1   col_2   10 non-null     int64
 2   col_3   10 non-null     object
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes